In [1]:
import sklearn

In [2]:
dir(sklearn)

['__SKLEARN_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__check_build',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_distributor_init',
 'base',
 'clone',
 'config_context',
 'exceptions',
 'get_config',
 'logger',
 'logging',
 'os',
 'random',
 'set_config',
 'setup_module',
 'show_versions',
 'sys',
 'utils']

In [23]:
import pandas as pd

In [29]:
df =pd.DataFrame({'a':[1,2,3,45],'b':['aa','bb','cc','aa']})

In [30]:
df

    a   b
0   1  aa
1   2  bb
2   3  cc
3  45  aa

In [31]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [32]:
le = LabelEncoder()

In [33]:
ohe = OneHotEncoder()

In [35]:
enc1 = le.fit_transform(df['b'])
enc2 = ohe.fit_transform([df['b']])

In [38]:
#print(enc1)
print(enc2)

  (0, 0)	1.0
  (0, 1)	1.0
  (0, 2)	1.0
  (0, 3)	1.0

In [46]:
import numpy as np

In [47]:
df['b']= ['aa','bb','cc','aa']
df['c']=[14,15,18,np.nan]

In [48]:
df

    a   b     c
0   1  aa  14.0
1   2  bb  15.0
2   3  cc  18.0
3  45  aa   NaN

In [51]:
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [53]:
ohe = OneHotEncoder()
si = SimpleImputer()

In [57]:
ct = make_column_transformer((ohe,['b']),(si,['c']),remainder ='passthrough')

In [58]:
enc = pd.DataFrame(ct.fit_transform(df))

In [59]:
enc

     0    1    2          3     4
0  1.0  0.0  0.0  14.000000   1.0
1  0.0  1.0  0.0  15.000000   2.0
2  0.0  0.0  1.0  18.000000   3.0
3  1.0  0.0  0.0  15.666667  45.0

In [60]:
enc = pd.DataFrame(ct.fit_transform(df), columns = ['b_aa','b_bb','b_cc','c','a'])

In [61]:
enc

   b_aa  b_bb  b_cc          c     a
0   1.0   0.0   0.0  14.000000   1.0
1   0.0   1.0   0.0  15.000000   2.0
2   0.0   0.0   1.0  18.000000   3.0
3   1.0   0.0   0.0  15.666667  45.0

In [62]:
df

    a   b     c
0   1  aa  14.0
1   2  bb  15.0
2   3  cc  18.0
3  45  aa   NaN

In [63]:
df1 = pd.get_dummies(df['b'])

In [64]:
df1

   aa  bb  cc
0   1   0   0
1   0   1   0
2   0   0   1
3   1   0   0

In [65]:
emp= pd.DataFrame({'pos':['se','mgr','sse','tl'],'proj':['a','b','c','d'],'sal':[25,15,48,36]})

In [66]:
emp

   pos proj  sal
0   se    a   25
1  mgr    b   15
2  sse    c   48
3   tl    d   36

In [67]:
from sklearn.preprocessing import OrdinalEncoder

In [71]:
oe = OrdinalEncoder(categories=[['se','sse','tl','mgr'],['a','b','c','d']])

In [72]:
enc = oe.fit_transform(emp[['pos','proj']])

In [73]:
enc

array([[0., 0.],
       [3., 1.],
       [1., 2.],
       [2., 3.]])

In [95]:
!pip install category-encoders

FileNotFoundError: [WinError 2] The system cannot find the file specified